{% extends "Stuff/home.html" %}
{% load staticfiles %}
{% block site-content %}
	<div id="listAll">
		<table class="table table-hover">
			<thead>
				<tr>
					<th> Część </th>
					<th> Ilość </th>
					<th> Typ </th>
					<th> Opis </th>
					<th> Zdjecie  </th>
				</tr>
			</thead>
			<tbody>
					{% for smth in content %}
					<a href='{% url "edycja" id=smth.partID %}'>
					<tr data-href='{% url "edycja" id=smth.partID %}'>	
							<td>	{{ smth.partName }} </td>
							<td>	{{ smth.partCount }} </td>
							<td>	{{ smth.partType }} </td>
							<td>	{{ smth.partDescription }} </td>	

							<td> <img src="{{ MEDIA_URL }}{{smth.pictures.all | first }}" width="150" height="100"> </td>
						</tr>
						</a>


					{% endfor %}
			</tbody>
	</div>
	<script src="{% static "Stuff/js/all.js" %}"></script>
	<link rel="stylesheet" href="{% static "Stuff/css/all.css" %}">	
{% endblock %}

	 


