div.page-body{
    width : 80%;
    margin: 0 auto;
}

#allParts{
	width: 90%;
	margin: 0 auto;

}

img{
	width: 400px;
	height: 200px;
}

#slidesContainer{
	cursor: move;
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 200px;
}

#slideshow{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
