h1.part{
	float: center;
	margin: 0 auto;
	text-align: center;
}

#part{
	width: 80%;
	margin: 0 auto;
}

#description{
	text-align: center;
}

#getPicture{
	width: 40%;
	margin: 0 auto;
}

#mainImg{
	width: 80%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}



#detailsImage{
	width: 400px;
	height: 200px;
	margin: 0 auto;
}
